<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Place Name Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', path='styles.css')}}">
    <meta property="og:title" content="{{type2}}: The Place Name Game" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://the.piggypiggyyoinkyoink.website" />
    <meta property="og:image" content="{{url_for('static', path='image.png')}}" />
    <meta property="og:description" content="How many place names do you know in {{type}}? &#x0A; Play now to find out!" />
    <meta property="og:site_name" content="The Place Name Game" />
    <link rel="icon" type="image/png" href="/placenamegame/static/piggy.png">
</head>
<body>
    <div class = "loading" id = "loading">
        <img src="{{url_for('static', path='loading_map.gif')}}" alt="Loading..." style = "width: 50%;">
        <h2 id = "loadingText">Loading</h2>
    </div>
    <div id = "main" style = "display: none;">
        <div class = "top">
            <h1 id = "h1">Loading...</h1>
            <p id = "instructions"><a id = "leaveRoomLink" href = "{{url_for('vs')}}">Leave Room</a></p>
            <hr>
        </div>
        <div class = "container">
            <div class = "row">
                <div class = "col-lg-auto c" id="l">
                    <!-- <h3>Map</h3> -->
                    <svg id="map" width="600" height="750"></svg><br>
                </div>
                <div class = "col-lg-4 c" id="r">
                    <div id = "waiting">
                        <div id = "roomInfo">
                            <h1><b><span id = "roomCode">{{room_id}}</span></b></h1>
                            <h3>Waiting for players...</h3>
                            <p> Region: {{type}}</p>
                            <p>Duration: <span id="timeLimitValue">?</span> minute<span id="timeLimitPlural">s</span></p>
                            <input type="range" class="form-range" min="1" max="60" value="5" id="timeLimitSlider" disabled style="display: none;">
                            <p>Players in Room:</p>
                            <ul id = "playerList"></ul>
                            <button type="button" class="btn btn-success" id="startGameButton" disabled style = "display: none;">Start Game</button>
                        </div>
                            
                    </div>
                    <div id = "gameplay" style = "display: none;">
                        <!-- <h3>Enter Place Names</h3> -->
                        <br>
                        <div class="input-group mb-3" id = "placeInputGroup">
                            <input type="text" class = "form-control" id="placeInput" placeholder="Enter a place name" autocomplete="off" enterkeyhint="send" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="placeSubmitButton" disabled>Submit</button>
                            </div>
                        </div>

                        <br>
                        <p id="message">⠀</p>
                        <br>
                        <!--<h3 id = "placesHeader">Total Places Entered</h3>-->
                        <h4 id = "timeRemaining">Time Remaining: <b><span id="timeRemainingMinutes">?</span> : <span id="timeRemainingSeconds">?</span></b></h4>
                        <table class = "table table-striped" id = "placesTableHeader">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Place</th>
                                </tr>
                            </thead>
                        </table>
                        <div id = "tableContainer">
                            <table class = "table table-striped" id = "placesTable">
                                <thead>
                                    <tr>
                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{url_for('static', path='vsindex.js')}}"></script>
</body>
</html>